<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestSerials.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CustApi" connectionString="data source=18.216.139.29;initial catalog=CustodianEveryWhereV2.0;user id=custodian;password=P@55w0rd;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="Dapper" connectionString="data source=192.168.10.74;initial catalog=ABS_MEMO;user id=ABSUSER;password=Custodian2;" providerName="System.Data.SqlClient" />-->
    <add name="Dapper" connectionString="server=40.68.20.31\MSSQLDB;database=ABS_MEMO;uid=CustodianCRM;pwd=Custodian123;"/>
  </connectionStrings>
  <appSettings>
    <add key="BASE_URL" value="https://api-football-v1.p.rapidapi.com/v2"/>
    <add key="AUTH_HEADER" value="73a1a7d816mshb9d8052704e2be1p12cedcjsn425c7ba3c59b"/>
    <add key="LeagueID" value="3"/>
    <add key="EMAIL_USERNAME" value="CustodianDirect@custodianinsurance.com" />
    <add key="EMAIL_SERVER_PORT" value="587" />
    <add key="EMAIL_HOST" value="smtp.office365.com" />
    <add key="EMAIL_PASSWORD" value="Innovate@CUSt6421" />
    <add key="Merchant_ID" value="CUST_WEB"/>
    <add key="Password" value="gsSeEy1k"/>
    <add key="EMAIL_TEMPLATE" value="C:\Users\OItaba\Documents\Visual Studio 2015\Projects\CustodianEveryWhereV2.0\UpSellingAndCrossSelling\Config\EmailTemplate.html"/>
    <add key="CONFIG" value="C:\Users\OItaba\Documents\Visual Studio 2015\Projects\CustodianEveryWhereV2.0\UpSellingAndCrossSelling\Config\API_SETTINGS.json"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="wsLowFarePlusSoap" />
        <binding name="PolicyServicesSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PolicyServicesSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="wsLowFarePlusSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://amadeusws.tripxml.com/TripXML/wsLowFarePlus.asmx"
        binding="basicHttpBinding" bindingConfiguration="basicHttp"
        contract="TravelApi.wsLowFarePlusSoap" name="wsLowFarePlusSoap" />
      <endpoint address="https://developers.custodianplc.com.ng/testapi/Policyservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="PolicyServicesSoap"
        contract="Cust.PolicyServicesSoap" name="PolicyServicesSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TestSerials.Properties.Settings>
      <setting name="TestSerials_CustodianE_PolicyServices" serializeAs="String">
        <value>https://developers.custodianplc.com.ng/testapi/Policyservices.asmx</value>
      </setting>
    </TestSerials.Properties.Settings>
  </applicationSettings>
</configuration>